@using Cibrary.Models
@model Cibrary.Models.Book

@{
    ViewBag.Title = "Create";
}

<h2>Legg til ny bok</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>@Html.DisplayFor(model => model.Title)</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, null, new {@class = "help-inline"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Author, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Author)
                @Html.ValidationMessageFor(model => model.Author, null, new {@class = "help-inline"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ReleaseYear, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.ReleaseYear)
                @Html.ValidationMessageFor(model => model.ReleaseYear, null, new {@class = "help-inline"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description, null, new {@class = "help-inline"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ExternalLink, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.ExternalLink)
                @Html.ValidationMessageFor(model => model.ExternalLink, null, new {@class = "help-inline"})
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Edition, new {@class = "control-label"})
            <div class="controls">
                @Html.EditorFor(model => model.Edition)
                @Html.ValidationMessageFor(model => model.Edition, null, new {@class = "help-inline"})
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="Categories">Kategorier</label>
            <div class="controls" id="Categories">
                <table>
                    <tr>
                    @{
                        int cnt = 0;
                        List<Category> categories = ViewBag.Categories;

                        foreach (var category in categories)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                            }
                        
                            @:<td class="categoryCheckbox">
                            <input id=@category.CategoryId type="checkbox" name="selectedCategories" value="@category.CategoryId" />
                            <label for=@category.CategoryId>
                            
                            @category.Name
                        </label>
                            @:</td>
                        }
                        @:</tr>
                    }
                </table>
                <span>
                    @Html.ActionLink("Legg til ny kategori", "Create", "Category")
                            </span>
                </div>
                        </div>



        <div class="form-actions no-color">
            <input type="submit" value="Legg til" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Tilbake til søk", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
