@model Cibrary.Models.Book

@{
    ViewBag.Title = "Delete";
}

<h2>Slett bok</h2>

<h3>Er du sikker på at du vil slette denne boken?</h3>
<fieldset>
    <legend>Bok</legend>

	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Author)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Author)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ReleaseYear)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ReleaseYear)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ExternalLink)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ExternalLink)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Edition)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Edition)
		</dd>

	</dl>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Slett" class="btn" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
