@model Cibrary.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
	<dl>

		<dt>
			@Html.DisplayNameFor(model => model.Author)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Author)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ReleaseYear)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ReleaseYear)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ExternalLink)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ExternalLink)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Edition)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Edition)
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Rediger", "Edit", new { id=Model.BookId }) |
    @Html.ActionLink("Tilbake til søk", "Index")
</p>
