@model IEnumerable<Cibrary.Models.Book>

@{
    ViewBag.Title = "Search Page";
}


    @using (Html.BeginForm())
    {
    <p id="SearchBoxContainer">
        @Html.TextBox("SearchString") 
        <input type="submit" class="submitsearch" value=""/>
    </p>
    }
    




<div class="accordion" id="booklist">
    
        @foreach (var item in Model)
        {
        <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="booklist" href="#@Html.DisplayFor(m => item.BookId)">
            @Html.DisplayFor(modelItem => item.Title) (utgave @Html.DisplayFor(modelItem => item.Edition))<br>
            <span style="font-style:italic; font-weight: normal; margin-left: 5px;">Av: @Html.DisplayFor(modelItem => item.Author), utgitt @Html.DisplayFor(modelItem => item.ReleaseYear)</span>
        </a>
    </div>
    <div id="@Html.DisplayFor(m => item.BookId)" class="accordion-body collapse">
        <div class="accordion-inner">

                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <div>
                                Kategorier:
                                @foreach (var kat in item.Categories)
                                {
                                    <span class="tag">
                                        @Html.ActionLink(kat.Name, "Index", new { searchString = kat.Name })
                                   </span>
                                }
                    </div>
            <br>
            
            @Html.ActionLink("Rediger", "Edit", new { id = item.BookId }) | @Html.ActionLink("Slett", "Delete", new { id = item.BookId })
        </div>
    </div>
</div>
        }

   
</div>

<p>
    <i class="icon-plus"></i>
    @Html.ActionLink("Legg til bok", "Create")
</p>