@model IEnumerable<Cibrary.Models.Book>

@{
    ViewBag.Title = "Search Page";
}


    @using (Html.BeginForm())
    {
    <p id="SearchBoxContainer">
        @Html.TextBox("SearchString") 
        <input type="submit" class="submitsearch" value=""/>
    </p>
    }
    

<table class="table table-hover">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edition)
        </td>
        <td>
                @Html.ActionLink("Rediger", "Edit", new { id = item.BookId }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.BookId }) |
                @Html.ActionLink("Slett", "Delete", new { id = item.BookId })
        </td>
    </tr>
}

</table>
<p>
    <i class="icon-plus"></i>
    @Html.ActionLink("Legg til bok", "Create")
</p>