@using Microsoft.AspNet.Identity
@model IEnumerable<Cibrary.Models.Loan>

@{
    ViewBag.Title = "Andre lånte bøker";
}
<h2>Mine lånte bøker</h2>

<div class="accordion" id="booklist">

    @foreach (var item in Model)
    {
        if (item.UserId == User.Identity.GetUserId())
        {
            <div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="booklist" href="#@Html.DisplayFor(m => item.BookId)">
            <div style="max-width: 60%;">@item.Book.Title</div><br>
            <span style="font-style: italic; font-weight: normal; margin-left: 5px;">Av: @Html.DisplayFor(modelItem => item.Book.Author)</span>
            <span style="float: right">@Html.ActionLink("Returnér", "DeliverBook", new { id = item.BookId }, new { @class = "accordion-button-return pull-right" })</span>

            
            


        </a>
    </div>
    <div id="@Html.DisplayFor(m => item.BookId)" class="accordion-body collapse">
        <div class="accordion-inner">
            <p>@Html.DisplayFor(modelItem => item.Book.Description)</p>
            <div>
                Kategorier:
                @foreach (var kat in item.Book.Categories)
                {
                    <span class="tag">@Html.ActionLink(kat.Name, "Index", "Book", new { searchString = kat.Name },null)</span>
                }
            </div>
            <span style="float: right">Lånt av: @Html.DisplayFor(modelItem => item.UserProfile.UserName) | @item.AgeOfLoan()</span>


        </div>
        </div>
    </div>
    }
    }
</div>
        
<h2>@ViewBag.Title</h2>

<div class="accordion" id="booklist">

    @foreach (var item in Model)
    {
        if (item.UserId != User.Identity.GetUserId())
        {

            
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="booklist" href="#@Html.DisplayFor(m => item.BookId)">
                        <div style="max-width: 60%;">@item.Book.Title</div><br>
                        <span style="font-style: italic; font-weight: normal; margin-left: 5px;">Av: @Html.DisplayFor(modelItem => item.Book.Author)</span>
                   
                    
                    </a>
                </div>
                <div id="@Html.DisplayFor(m => item.BookId)" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>@Html.DisplayFor(modelItem => item.Book.Description)</p>
                                        <div>
                                            Kategorier:
                                            @foreach (var kat in item.Book.Categories)
                        {
                                                                <span class="tag">@Html.ActionLink(kat.Name, "Index", "Book", new { searchString = kat.Name }, null)</span>
                        }
                                                        </div>
                        <span style="float: right">Lånt av: @Html.DisplayFor(modelItem => item.UserProfile.UserName) | @item.AgeOfLoan()</span>

                                                    </div>
                </div>
            </div>
        }
    }
</div>
