@model Cibrary.Models.ManageUserViewModel

<p>
    Dersom du ikke ønsker å logge inn med en ekstern konto (for eksempel med din Google-konto), må du registrere en ny CIBRARY-konto og logge inn med den.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     <fieldset class="form-horizontal">
        <legend>Create Local Login</legend>
         <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>      
        <div class="form-actions no-color">
            <input type="submit" value="Set password" class="btn" />
        </div>
    </fieldset>
}
